<div class="container">

<h1><%= Book.model_name.human %>詳細</h1>

<div class="book__wrap">
    <div class="book-image__wrap">
        <image src="<%= @book.image %>" alt="">
    </div>

    <div class="book-content">
        <%= Book.human_attribute_name(:series) + '  ' + @book.series %><br />

        <%= Book.human_attribute_name(:title) + '  ' + @book.title %><br />

        <%= Book.human_attribute_name(:author) + '  ' + @book.author + '    ' + 
                Book.human_attribute_name(:illustrator) + '  ' + @book.illustrator %><br />

        <%= @book.subtitle %><br />

        <%= sanitize(simple_format(@book.detail.gsub(/\r\n|\r|\n/, "<br>")), tags: %w(br)) %><bt />

        <%= Book.human_attribute_name(:isbn) + '  ' + @book.isbn.to_s %><br />

        <%= Book.human_attribute_name(:format) + '  ' + @book.format %><br />

        <%= Book.human_attribute_name(:page) + '  ' + @book.page.to_s %><br />

        <%= Book.human_attribute_name(:release) + '  ' + @book.release.strftime("%Y年%m月%d日") %><br />

        <%= Book.human_attribute_name(:price) + '  ' + @book.price.to_s %><br />

        <%= Book.human_attribute_name(:publisher) + '  ' + @book.publisher %><br />
    </div>
</div>
</div>